::selection {
  background: var(--selection-bg, #166534);
  color: #ffffff;
 }
 
 [data-theme='light'] ::selection {
  background: #b10000;
 }
 
 .mouse-highlight {
  background: radial-gradient(
    1200px circle at var(--mouse-x) var(--mouse-y),
    var(--highlight-color, rgba(29, 78, 216, 0.15)),
    transparent 40%
  );
  pointer-events: none;
  position: fixed;
  inset: 0;
  z-index: 9999;
 }
 
 [data-theme='light'] .mouse-highlight {
  background: radial-gradient(
    1200px circle at var(--mouse-x) var(--mouse-y),
    var(--highlight-color, rgba(114, 51, 0, 0.2)),
    transparent 40%
  );
 }
 
 @tailwind base;
 @tailwind components;
 @tailwind utilities;